.titulo {
    font-family: 'HortaRegular';
    font-weight: normal;
    background-color: rgb(233, 3, 9);
    height: 8vh;
    width: 10vw;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 4vh;
    cursor: pointer;
    transition: background-color 0.30s;
    margin-left: 3vw;
    position: absolute;
}

.titulo:hover {
    background-color: rgb(190, 0, 0);
}

body {
    background-color: black;
}
.index-body{
    background-color: #212121;
}

header {
    height: 9vh;
    background-color: rgb(233, 3, 9);
    border: none;

}

* {
    padding: 0;
    margin: 0;

}

h1 {
    color: white;
    font-family: 'HortaRegular';
    font-weight: bold;
    text-align: center;
    font-size: 5vh;
    margin-top: 8vh;
    margin-bottom: 3vh;
}

::-webkit-input-placeholder {
    color: rgb(197, 183, 183);
    border: rgb(100, 0, 0);
    text-align: center;
}

.orçamento {
    background-color: rgb(23, 23, 23);
    border-radius: 0.2vw;
    color: white;
    border-color: rgb(100, 0, 0);
    border-style: solid;
    height: 5vh;
    margin-left: 0.5vw;
    width: 10vw;
}

p {
    color: white;
    font-family: 'HortaRegular';
}
.p-index{
    margin-top: 3vh;
    font-size: 3vh;
}
.games {
    border-color: rgb(100, 0, 0);
    border-style: solid;
    border-width: 0.2vw;
    background-color: rgb(32, 32, 32);
    margin-left: 30vw;
    margin-right: 30vw;
    border-radius: 0.5vw;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 3vh;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: rgb(23, 23, 23);
    border-radius: 4px;
    color: rgb(197, 183, 183);
    border-color: rgb(100, 0, 0);
    border-style: solid;
    height: 40px;
    width: 20%;
    text-align: center;
    border-width: 2px;
    margin-left: 2%;
    font-weight: bold;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;

}

.pgames {
    display: inline-block;
    margin-top: 4vh;
}

.pavançado {
    display: inline-block;
    margin-top: 0%;
}

.avançado {
    margin-top: 2.1vh;
    border-color: rgb(100, 0, 0);
    border-style: solid;
    background-color: rgb(23, 23, 23);
    border-radius: 0.2vw;
    padding-bottom: 2vh;
    padding-top: 2vh;
    padding-left: 1vw;
    margin-bottom: 1vh;
    width: 10vw;
    border-width: 2px;
}


.selectavançado {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: rgb(23, 23, 23);
    border-radius: 4px;
    color: rgb(197, 183, 183);
    border-color: rgb(100, 0, 0);
    border-style: solid;
    height: 40px;
    width: 40%;
    text-align: center;
    border-width: 2px;

    font-weight: bold;
    cursor: pointer;
}

.submit-lente {
    font-size: 28px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    border: none;
    background: transparent;
    outline: none;
    color: rgba(128,130,133,255);
    cursor: pointer;
}

.submit-line {
    position: relative;
    width: 85%;
    border-color: rgb(100, 0, 0);
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    margin-top: 3%;
}

.submit-line input {
    font-size: 16px;
    color: rgb(197, 183, 183);
    height: 100%;
    width: 100%;
    background-color: rgb(23, 23, 23);
    border-style: none;
    height: 31px;
}
::placeholder{
    text-align: left;
    font-size: 16px;
    bottom: 30;
    opacity: 0.2;
}
.trabalho{
    margin-top: 3%;
}

.proximo{
        background-color: rgb(23, 23, 23);
        border-radius: 0.2vw;
        color: white;
        border-color: rgb(100, 0, 0);
        border-style: solid;
        height: 6vh;
        margin-left: 30vw;
        margin-top: 1vh;
        cursor: pointer;
        transition: 0.30s;
        width: 7vw;
}
.proximo:hover{
    opacity: 0.7;
} 
.cadastrar{
    background-color: rgb(23, 23, 23);
    border-radius: 0.2vw;
    color: white;
    border-color: rgb(100, 0, 0);
    border-style: solid;
    height: 6vh;
    cursor: pointer;
    transition: 0.30s;
    width: 7vw;
    margin-bottom: 2vh;
    font-family: 'HortaRegular';
    font-size: 2vh;
}
.cadastrar:hover{
opacity: 0.7;
} 

.label-login{
    margin-left: 1.5vw;
}
.submit-login{
    margin-right: 90px;
}
.input-login{
    background-color: rgb(23, 23, 23);
    border-radius: 0.2vw;
    color: white;
    border-color: rgb(100, 0, 0);
    border-style: solid;
    height: 4vh;
    margin-left: 1vh;
    margin-top: 1vh;
    width: 10vw;
    border-width: 0.2vw;
}
.style-href{
    color: white;
    cursor: pointer;
    transition: 0.30s;
    text-align: center;
}
.style-href:hover{
    color: red;
}
.style-p{
    height: 100%;
}
.painel-p{
    font-size: 2.7vh;
    text-align: center;
}

.div-painel{
    background-color: rgb(23, 23, 23);
    border-color: rgb(56, 0, 0);
    border-width: 0.2vw;
    border-style: solid;
    transition: 0.30s;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    height: 5vh;
    margin-bottom: 1vh;
    width: 20vw;
    cursor: pointer;
    font-size: 3vh;
    padding-top: 2vh;
}
.div-painel:hover{
    background-color: rgb(0, 0, 0);
}
.flexbox{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.painel{
    border-color: rgb(100, 0, 0);
    border-style: solid;
    border-width: 2px;
    background-color: rgb(32, 32, 32);
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 4px;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.list-item{
    margin-top: 1%;
    color: white;
    font-family: 'HortaRegular';
    font-weight: bold;
    cursor: pointer;
    transition: 0.15s;
    border-color: rgb(180, 24, 24);
    background-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    text-align: center;
    width: 85%;
}
.list-item:hover{
    color:rgb(180, 24, 24);
    background-color: white;
    border-color: black;
}
.selected{
    color:rgb(180, 24, 24);
    background-color:rgb(197, 183, 183);
}
.resultado{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}
.software-name{
    color: white;
    font-family: 'HortaRegular';
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(129, 5, 5);
    border-width: 2px;
    margin-right: 2%;
    font-size: 18px;
    cursor: pointer;
    transition: 0.15s;
    display: inline-block;
    margin-top: 2%;
    height: 30px;
    padding-top: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

.output-container{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.resultado{
    color: white;
    font-family: 'HortaRegular';
    align-self: center;
    margin-top: 4%;
    font-size: 20px;
}
.selected-graficos{
    margin-top: 1vh;
}
.submit-container{
    display: flex;
    justify-content: center;
    margin-left: -2vw;
}
.index-btn{
    background-color: rgb(233, 3, 9);
    color: white;
    width: 30vw;
    height: 12vh;
    cursor: pointer;
    transition: 0.15s;
    border-style: none;
    border-radius: 1vw;
    font-family: 'HortaRegular';
    font-size: 6vh;
    margin-bottom: 10vh;
}
.index-btn:hover{
    opacity: 0.7;
}
.index-container{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    flex-direction: column;
    align-items: center;
}
.desc{
    border-style: solid;
    border-color: rgb(233, 3, 9);
    border-width: 0.5vh;
    text-align: center;
    width: 31vw;
    height: 20vh;
    padding-bottom: 3vh;
}

.peca{
    border-color: rgb(100, 0, 0);
    border-style: solid;
    border-width: 0.2vw;
    color: white;
    font-family: 'HortaRegular';
    border-radius: 0.6vw;
    background-color: rgb(13, 13, 13);
    width: 33%;
    
}
.container-peca{
    display: flex;
    text-align: center;
    flex-direction: row;
}
.valor-total{
    color: white;
    font-family: 'HortaRegular';
    background-color: rgb(233, 3, 9);
    width: 11vw;
    margin-top: 3vh;
    border-radius: 3vw;
    border-color: black;
    border-width: 0.2vw;
    border-style: solid;
    height: 4vh;
    font-size: 2.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.final{
    border-color: rgb(100, 0, 0);
    border-style: solid;
    border-width: 0.2vw;
    background-color: rgb(32, 32, 32);
    margin-left: 30vw;
    margin-right: 30vw;
    border-radius: 0.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 3vh;
}
.final img{
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 4vh;
}
.valorTotal-container{
    display: flex;
    justify-content: end;
    text-align: center;
}
.valor{
    color: red;
    font-size: 3vh;
    font-family: 'HortaRegular';
}
.valor-container{
    display: flex;
    justify-content: end;
    flex-direction: column;
}


  
  .wrapper a {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    background-color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    color: #585858;
    font-family: "Roboto", sans-serif;
  }
  
  .modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, 0.7);
    transition: all 0.4s;
  }
  
  .modal-show {
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, 0.7);
    transition: all 0.4s;
  }
  
  .content {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
  }
  
  .footer {
    text-align: right;
    margin-top: 50px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
  }
  
  .footer-btn-close {
    width: 150px;
    padding: 10px;
    text-decoration: none;
    background-color: #cfcca8;
    color: #000000;
    border-radius: 3px;
  }

  .title-modal {
    color: #000000;
  }

 .right-container{
    position: relative;
 }
 .right-container img{
    position: absolute;
    bottom: -28vh;
    right: 0;
    height: 60vh;
 }
 .left-container{
    position: relative;
 }
 .left-container img{
    position: absolute;
    bottom: -30vh;
    left: -10;
    height: 60vh;
 }
 .img-container{
     height: 4px;
 }
 .painel{
    border-color: rgb(100, 0, 0);
    border-style: solid;
    border-width: 0.2vw;
    background-color: rgb(32, 32, 32);
    margin-left: 20vw;
    margin-right: 20vw;
    border-radius: 0.5vw;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 3vh;
 }
 .id-peca{
    color: white;
    text-align: center;
    background-color: rgb(23, 23, 23);
    border-width: 0.2vw;
    border-color: rgb(56, 0, 0);
    border-style: solid;
 }
.painel-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}
.cadastrar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
}
 .tabela{
    color: rgb(119, 114, 114);
    text-align: center;
    background-color: rgb(23, 23, 23);
    border-width: 0.2vw;
    border-color: rgb(56, 0, 0);
    border-style: solid;
 }
 .pencil{
    text-align: center;
    background-color: rgb(156, 151, 151);
    border-width: 0.2vw;
    border-color: rgb(56, 0, 0);
    border-style: solid;
    transition: 0.15s;
 }
 .pencil:hover{
     opacity: 0.4;
 }
 .trash-modal{
    height: 2vh;
    width: 1.5vw;
    transition: 0.15s;
}
.trash-modal:hover{
    border-radius: 1vh;
    border-color: rgb(103, 100, 100);
    background-color: rgb(103, 100, 100);
    border-style: none;

}

 .trash{
     height: 2vh;
     width: 1.5vw;
 }

 .delete-software {
    height: 3vh;
    width: 1.5vw;
    cursor: pointer;
    transition: 0.15s;
 }
 .delete-software:hover{
    opacity: 0.4;
 }

 dialog {
    border: 0.3vw solid rgb(56, 0, 0);
    border-radius: 0.2vw;
    background-color: rgb(23, 23, 23);
    align-items: center;
    margin-left: 40vw;
    margin-right: 50vw;
    margin-top: 40vh;
    overflow: hidden;
 }

 .content {
    width: 15vw;
    height: 15vh;
    display: flex;
    background-color: rgb(23, 23, 23);
    align-items: center;
    font-size: 3vh;
 }

 .info, .success{
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 0.2vw;
}
.info-mensagem{
    text-align: center;
}
.info {
    color: black;
    background-color: yellow;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.invisible {
    background-color: transparent;
    background: none;
    border: none;
    padding-left: 5px;
}
