html,
body {
    height: 100%;
}

body {

    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
}

@media (min-widht : 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.backgroundR {

    background-color: white;
    width: 400px;
    height: 620px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
    justify-content: center;
    align-items: center;
}