body {
    font-family: Arial, sans-serif;
    background-color: #e6e4e4;
  }

.backgroundR {

    background-color: white;
    margin-top: 1%;
    margin-left: 2.5%;
    width: 95%;
    height: 600px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
    justify-content: center;
    align-items: center;
}

.observaçao{
    background-color: white;
    margin-top: 1%;
    margin-left: 2.5%;
    width: 95%;
    height: 250px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
    justify-content: center;
    align-items: center;

}

.relato{
    background-color: white;
    margin-top: 1%;
    margin-left: 2.5%;
    width: 95%;
    height: 550px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
    justify-content: center;
    align-items: center;

}

input[type="submit"] {
    background-color: #444343;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 90px;
  }

input[type="submit"]:hover {
    background-color: #707074;
  }