h1{
    text-align: center;
}
.imgVeja{
    width: 600px;
    height: 550px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
   

}
.veja{
    margin: 20px;
    width: flex;
     height: 580px;
     border: 1px solid black;
     display: flex; /* define o elemento pai como um contêiner flexível */
     align-items: right; /* alinha verticalmente os itens no centro */
}
.info-produto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 10px;
    overflow: hidden;
    word-break: break-all;
  }
  
  .botoes-produto {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    top: 60%;

    display: flex;
    flex-direction:row;
    align-items: flex-end;
    position: absolute;
  }
  .flex-item{
    margin-left: 10px;
    margin-right: 10px;

   
  }
  .arrow-button {
    background-color: #ccc;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .arrow-button span {
    margin-left: 5px;
  }

  