<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Cadastro</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/style_Cadst.css">
        <link  rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic'/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    </head>

    <body>
        <!--Conteúdo do FORMULÁRIO-->
        <main class="container">
            <form id="formulario" method="POST"> 
                <% if(errado){ %>
                    <%- include('./includes/messages.ejs') %>
                <% } %>
                <h2>Cadastrar</h2> 

                <h2 style="font-size: 20px;">Todos os campos com * são obrigatorios</h2>

                <!--CAMPO PARA PREENCHER COM E-MAIL-->
                <section class="campo">
                    <input type="text" name="email" id="email"
                        placeholder="E-mail*" required>
                    <div class="underline"></div>
                </section>  

                <!--CAMPO PARA PREENCHER COM NOME DO USUÁRIO-->
                <section class="campo">
                    <input type="text" name="usuario" id="usuario"
                        placeholder="Usuário*" required>
                    <div class="underline"></div>
                </section>

                <!--CAMPO PARA PREENCHER COM A SENHA-->
                <section class="campo">
                    <input type="password" name="senha" id="senha"
                        placeholder="Senha*" required>
                    <div class="underline"></div>
                </section> 

                <!--CAMPO PARA PREENCHER COM NÚMERO DO CPF-->
                <section class="campo">
                    <input type="number" name="cpf" 
                    placeholder="CPF*" id="cpf" required>
                    <div class="underline"></div>
                </section>

                <!--CAMPO PARA PREENCHER COM A DATA DE NASCIMENTO-->
                <div class="calendario">
                    <h3 style="font-size: 20px;">Data de Nascimento: *</h3>
                    <input type="date" name="data"/>
                </div>

                <!--CAMPO PARA ESCOLHER SEXO-->
                <div class="radio">
                    <h3>Sexo: </h3>
                    <input class="F" type="radio" name="sexo" value="Feminino">
                    <label class="F" for="Feminino"> Feminino</label>

                    <input class="M" type="radio" name="sexo" value="Masculino">
                    <label class="M" for="Mascolino">Masculino</label>
                </div>

                <!--CAMPO PARA PREENCHER COM ENDEREÇO-->
                <section class="campo">
                    <input type="text" name="Endereço" 
                    placeholder="Endereço*" id="endereco" required>
                    <div class="underline"></div>
                </section>

                <!--CAMPO PARA PREENCHER COM NÚMERO DA RESIDÊNCIA-->
                <section class="campo">
                    <input type="number" name="Numero" 
                    placeholder="Número*" id="numero" required>
                    <div class="underline"></div>
                </section>

                <!--CAMPO PARA PREENCHER COM CIDADE-->
                <section class="campo">
                    <input type="text" name="Cidade" 
                    placeholder="Cidade*" id="cidade" required>
                    <div class="underline"></div>                           
                </section>

                <!--CAMPO PARA SELECIONAR A UNIDADE FEDERAL-->
                <div class="select-uf">
                    <select  nome = " Unidade Federal " name="UF">
                        <option label="UF*"></option >
                        <option  value = " AC " > Acre </option >
                        <option  value = " AL " > Alagoas </option >
                        <option  value = " AP " > Amapá </option >
                        <option  value = " AM " > Amazonas </option >
                        <option  value = " BA " > Bahia </option >
                        <option  value = " CE " > Ceará </option >
                        <option  value = " DF " > Distrito Federal </option >
                        <option  value = " ES " > Espírito Santo </option >
                        <option  value = " GO " > Goiás </option >
                        <option  value = " MA " > Maranhão </option >
                        <option  value = " MT " > Mato Grosso </option >
                        <option  value = " MS " > Mato Grosso do Sul </option >
                        <option  value = " MG " > Minas Gerais </option >
                        <option  value = " PA " > Pará </option >
                        <option  value = " PB " > Paraíba </option >
                        <option  value = " PR " > Paraná </option >
                        <option  value = " PE " > Pernambuco </option >
                        <option  value = " PI " > Piauí </option >
                        <option  value = " RJ " > Rio de Janeiro </option >
                        <option  value = " RN " > Rio Grande do Norte </option >
                        <option  value = " RS " > Rio Grande do Sul </option >
                        <option  value = " RO " > Rondônia </option >
                        <option  value = " RR " > Roraima </option >
                        <option  value = " SC " > Santa Catarina </option >
                        <option  value = " SP " > São Paulo </option >
                        <ption  value = " SE " > Sergipe </option >
                        <option  value = " TO " > Tocantins </option >
                    </select>
                </div>    
                <!--<section class="cat">
                    <div class="fileira" id="f1">
                        <div class="check">
                            <input type="checkbox" name="categoria" class="categoria">
                            <label for="gluten"> Glúten</label>                                
                        </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Trigo"> Trigo</label>
        
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Lactose"> Lactose</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="LeiteVaca"> Leite de Vaca</label>
                    </div>
                </div>
                <div class="fileira" id="f2">
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Ovo"> Ovo</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Amendoin"> Amendoin</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Castanhas"> Castanhas</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Soja"> Soja</label>
                    </div>
                </div>
                <div class="fileira" id="f3">
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Peixe"> Peixe</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="FrutosMar"> Frutos do Mar</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Acucar"> Açucar</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="AditivosAlimentares"> Aditivos alimentares</label>
                    </div>
                </div>
                <div class="fileira" id="f4">
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Vegetariano"> Carne/Vegetariano</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Vegano"> De origem animal/Vegano</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Fitness"> Fitness</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Outros"> Outros</label>
                    </div>
                </div>
                </section>-->
                
                <input type="reset" value="Resetar">
                <input type="submit" value="Enviar">
                
                <!--<p class="pp">Ou</p>
                <a class="google" href="#">Continue com Google</a>
                <a class="facebook" href="#">Continue com Facebook</a>
                <p class="pp">Já se cadastrou?<a class="link" href="_Login">Entre</a></p>-->
            </form>
        </main>

        <!--Rodapé-->
        <!-- <footer>
        </footer> -->
        <script src="./assets/js/bundle.js"></script>
        <script src="./"></script>
    </body>
</html>