<!DOCTYPE html>
<html lang="pr-br">

    <head>
        <title>Cookies Power</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/style_chat.css">
        <link  rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic'/>
        <title>Free From ⋆ Um Sabor Seguro</title>
       
    </head>

    <body>
        <!--Menu-->
        <header>
            <input type="checkbox" id="check">
            <label id="icone" for="check">
                <img src="">
            </label>
            <!--
            <div class="barra">
                <nav class="menu">
                    <ul>   
                        <li><div class="menu"><a href="_Index.html">Início</a></div></li>
        
                        <li><div class="menu"><a href="_Produtos.html">Produtos</a></div></li>
                        
                        <li><div class="menu"><a href="#">Receitas</a></div></li>
    
                        <li>
                            <div class="menu"><a href="#">Categorias▾</a></div>
                            <ul>
                                <li class="subMenu"><a href="#">Tudo</a></li>
                                <li class="subMenu"><a href="#">Granel</a></li>
                                <li class="subMenu"><a href="#">Frutas Secas</a></li>
                                <li class="subMenu"><a href="#">Oleaginosas</a></li>
                                <li class="subMenu"><a href="#">Farinhas</a></li>
                                <li class="subMenu"><a href="#">Adoçantes</a></li>
                                <li class="subMenu"><a href="#">Temperos</a></li>
                                <li class="subMenu"><a href="#">Suplementos</a></li>
                            </ul>
                        </li>
    
                        <li><div class="menu"><a href=#>Carrinho</a></div></li>
    
                        <li>
                            <div class="menu"><a href="#">Mais▾</a></div>
                            <ul>  
                                <li class="subMenu"><a href="#">Vender</a></li>
                                <li class="subMenu"><a href="#">Frete</a></li>
                                <li class="subMenu"><a href="#">Sobre Nós</a></li>
                            </ul>
                        </li>
    
                        <li>
                            <div class="menu"><a href="#">Conta▾</a></div>
                            <ul>
                                <li class="subMenu"><a href="_Cadastro.html" target="_blank">Cadastrar</a></li>
                                <li class="subMenu"><a href="_Login.html" target="_blank">Entrar</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>   
        -->
        <!--Conteúdo-->
        
        <main class="container">
            <nav class="user">
                <img src="Img/cupCakeZoom.jpg">
                <span><a href="#">Nome de Usuário</a></span>
            </nav>
            <section class="chat">
                <section class="mensg" id="out">
                    <p>HELLO!!</p>
                </section>
                <section class="mensg" id="in">
                    <p>Boa tarde!</p>
                </section>
                <section class="mensg" id="in">
                    <p>Em que posso ajudar?</p>
                </section>
                <section class="mensg" id="out">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta excepturi at repudiandae quos itaque deserunt aut officiis, saepe laudantium debitis</p>
                </section>
            </section>
            <input type="text" name="mensagem">
        </main>
        
        <aside>
        </aside>   
        <!--Rodapé
        <footer>
            <span>Desenvolvido pela discente Samara Cassie Dos Santos com finalidade educativa sob orientações da docente Marina  Carradore Sérgio do Instituto Federal de Santa Catarina ©</span>
        </footer>-->
    </body>
</html> 

