<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic'/>
    <link rel="stylesheet" href="css/style_index.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Free From ⋆ Um Sabor Seguro</title>
</head> 
<body> 
    <main>
        <div class="cont">
            <h1>FreeFrom</h1>
            <h2>Atenção Alergicos, contém: Inclusividade</h2>
            <p>Este marketplace foi feito com a intenção de abraçar, acolher e facilitar na busca de produtos para as pessoas que tem alguma alergia ou não apoiam o consumo de carne de animais, ou o uso de produtos testados neles, neste site todos os produtos aqui vendidos será de seu agrado! Facilitando assim na busca por produtos mais especificos, e não se engane, todos os produtos são muuuuito gostosos!! Então embarque neste mundo conosco e conheça o... FreeFrom.</p>
            <div class="btn">
                <a href="_Produtos"><button>Explorar</button></a>
                <a href="_Login"><button>Entrar</button></a>
            </div>
        </div>
    </main>
    <script src="./assets/js/bundle.js"></script>
</body>
</html>