<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style_Cadst.css">
    <link rel='stylesheet'href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <title>Free From ⋆ Um Sabor Seguro</title>
</head>

<body>
    <main class="container">
        
        <form method="POST">
            <% if(errado){ %>
                <%- include('./includes/messages.ejs') %>
            <% } %>
            <h2>Login</h2>
            <section class="campo">
                <input type="email" name="email" id="email" placeholder="email">
                <div class="underline"></div>
            </section>
            <section class="campo">
                <input type="password" name="senha" id="senha" placeholder="Senha">
                <div class="underline"></div>
            </section>

            <input type="submit" value="Entrar" style="margin-top: 3vmax;">
            <!-- <p class="pp">Ou</p> -->

            <!-- <a class="google" href="#">
                Continue com Google
            </a>

            <a class="facebook" href="#">
                Continue com Facebook
            </a> -->
            <p class="pp">Ainda não tem uma conta?<a class="link" href="_Cadastro">Cadastre-se</a></p>
        </form>
</body>

</html>