<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style_index.css">
    <link  rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic'/>
    <title>Free From ⋆ Um Sabor Seguro</title>
</head>
<body> 
    <!--Menu-->
    <header>
        <input type="checkbox" id="check">
        <label id="icone" for="check">
            <img src="Img/iconeMenu.png">
        </label>

        <div class="barra">
            <nav class="menu">
                <ul>
                    <li><div class="aq"><a href="#">Início</a></div></li>
    
                    <li><div class="menu"><a href="_Produtos">Produtos</a></div></li>
                    <!-- ========== Start Section ========== --
                    
                    <li><div class="menu"><a href="#">Receitas</a></div></li>

                    <li>
                        <div class="menu"><a href="#">Categorias▾</a></div>
                        <ul>
                            <li class="subMenu"><a href="#">Tudo</a></li>
                            <li class="subMenu"><a href="#">Granel</a></li>
                            <li class="subMenu"><a href="#">Frutas Secas</a></li>
                            <li class="subMenu"><a href="#">Oleaginosas</a></li>
                            <li class="subMenu"><a href="#">Farinhas</a></li>
                            <li class="subMenu"><a href="#">Adoçantes</a></li>
                            <li class="subMenu"><a href="#">Temperos</a></li>
                            <li class="subMenu"><a href="#">Suplementos</a></li>
                        </ul>
                    </li>

                    <li><div class="menu"><a href=#>Carrinho</a></div></li>
                    
                    -- ========== End Section ========== -->
                    <li>
                        <div class="menu"><a href="#">Mais▾</a></div>
                        <ul>
                            <li class="subMenu"><a href="#">Vender</a></li>
                            <li class="subMenu"><a href="#">Frete</a></li>
                            <li class="subMenu"><a href="_Sobre">Sobre Nós</a></li>
                        </ul>
                    </li>

                    <li>
                        <div class="menu"><a href="#">Conta▾</a></div>
                        <ul>
                            <li class="subMenu"><a href="_Cadastro" target="_blank">Cadastrar</a></li>
                            <li class="subMenu"><a href="_Login" target="_blank">Entrar</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <article class="container">
            <img src="Img/texturaDeCamurca.jpg">
            <h5>Nome de Usuário</h5>
            <p>0 pontos</p>
            <a href="#">Meus Dados</a>
            <a href="#'">Minhas Compras</a>            
            <a href="#">Cartões e Contas Bancarias</a>
            <a href="#">Endereços</a>
            <a href="#">Favoritos</a>

        </article>
    </main>
    <script src="./assets/js/bundle.js"></script>
</body>
</html>
