<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style_sobre.css">
</head>
<body>
    <%- navBar %>
    <section class="principal">
        <h1>FreeFrom</h1>
        <br>
        <h2>Sobre a nossa empresa...</h2>
        <br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae error itaque corrupti fugiat dicta corporis doloremque, alias tempora cum nulla voluptate laborum deleniti quos necessitatibus ut voluptatum deserunt repellendus quisquam?</p>
        <br>
        <br>
        <a href="_Produtos">Voltar Para a pagina de produtos</a>
    </section>
    <script src="./assets/js/bundle.js"></script>
</body>
</html>