body{
    width: 100vw;
    height: 100vh;
    background-color:  rgb(26, 26, 26);
    
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
}

form{
    height: fit-content;
    width: fit-content;
}

.icones{
    font-size: 3vh;
}

/* Barra de rolagem */
::-webkit-scrollbar{
    width: 0.5vw;
}

::-webkit-scrollbar-track{
    background-color: #363636;
}

::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(186, 186, 186);
}

::-webkit-scrollbar-thumb:active{
    background-color: rgb(201, 201, 201);
}

/* Forma da própria aside - Ajuste do formato dos botões */
#config{
    padding-top: 1vh;
    padding-right: 2vh;
    padding-left: 2vh;
    padding-bottom: 2vh;
    margin-left: 20vw;
    min-width: 10vw;
    min-height: 6vh;
    z-index: 50;
    background: #0e0e0e;
    display: none;
}

#sidebar{
    width: 20vw;
    height: 100vh;
    border-right: 1.5px solid gray;
}

#listaDeAssuntos{
    overflow-x: hidden;
    overflow-y: scroll;
}

.user-botolas{
    color: white;
    font-size: 4vh;
}
#sidebar .bts{
   font-size: 2vh;
   width: 17vw;
   height: 8.5vh;
   background: transparent;
   color: white;
   border: 1.5px solid gray;
   border-left: 0;
}

.flex{
    display: flex;
}

.column{
    flex-flow: column;
}

.center{
    justify-content: center;
}

.end{
    justify-content: flex-end;
}

.start{
    justify-content: flex-start;
}

.space-around{
    justify-content: space-around;
}

.nowrap{
    flex-wrap: nowrap;
}

.bts-options{
    min-width: 2.5vw;
    margin: 0;
    background: transparent;
    border: 1.5px solid gray;
}

.edit{
    min-width: 2.5vw;
    min-height: 8.5vh;
    max-width: 2.5vw;
    max-height: 8.5vh;
    padding: 5px;
    background-color: rgb(26, 26, 26);
    border: 1.5px solid gray;
    border-left: 0;
}

/* Header da aside - SearchBar */
.buscador{
    font-size: 2vh;
    margin-top: 2vh;
    padding: 10px;
    border-radius: 15px;
    width: 17vw;
    height: 6vh;
}

#barra-de-ferramentas{
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 20vw;
    height: 5vh;
}

/* Modal */
.modal{
    margin: 0;
    width: 40vw;
    height: 60vh;
    margin-left: 30vw;
    margin-top: 15vh;
}

.modal h1{
    margin: 0 0 0 155px;
}

.branco{
    color: white;
}

.nome-assunto{
    border-radius: 15px;
    margin: 0 0 0 100px;
    padding: 15px 15px 10px 15px;
}

.descricao-assunto{
    border-radius: 10px;
    margin: 0 0 0 100px;
    padding: 15px 15px 10px 15px;
    margin-left: 100px;
    margin-top: 20px;
}

/* Botões */
.btn-delete-assunto{
    margin-left: 25%;
    width: 50%;
    height: 20%;
}
.btn-cfgvermelho{
    background-color: #d20000;
    border-color: transparent;
    color: white;
    height: 4vh;
    width: 5vw;
    border-radius: 2vh;
    margin-top: 0.5vh;
    margin-left: 4vh;
}
.vermelho{
 
    background-color: #d20000;
    color: white;
    border-radius: 2vh;
    width: 12vw;
    height: 8vh;
    border-color: transparent;

}

.vermelho:active{
    background-color: #a00000;
}

.btn-vermelho{
    color: #d20000;
}

.btn-vermelho:active{
    color: #a00000;
}

.btn-normal{
    margin: 0;
    margin-bottom: 2rem;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 15px;
    width: 122px;
    border-color: transparent;
    background: white;
}

.btn-normal:hover{
    background-color: rgb(186, 186, 186);
}

.btn-normal:active{
    background-color: rgb(201, 201, 201);
}

.botao-concluir{
    margin: 10px 200px 0 0;
    border-radius: 15px;
    width: 85px;
    border-color: transparent;
    background-color: white;
}

.btn-branco-hover:active{
    color: #ddd;
}

.btn-branco-background-hover:active{
    background: #ddd;
}

.btn-preto-background-hover:active{
    background-color: #0e0e0e;
}

.btn-transparente{
    background-color: transparent;
    border: 0;
}

.gira:hover{
    -webkit-animation-name: fa-spin;
            animation-name: fa-spin;
    -webkit-animation-delay: var(--fa-animation-delay, 0s);
            animation-delay: var(--fa-animation-delay, 0s);
    -webkit-animation-direction: var(--fa-animation-direction, normal);
            animation-direction: var(--fa-animation-direction, normal);
    -webkit-animation-duration: var(--fa-animation-duration, 2s);
            animation-duration: var(--fa-animation-duration, 2s);
    -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
            animation-iteration-count: var(--fa-animation-iteration-count, infinite);
    -webkit-animation-timing-function: var(--fa-animation-timing, linear);
            animation-timing-function: var(--fa-animation-timing, linear);

}