.divas{
    width: 80vw;
    overflow-y: scroll;
}

.btn-close{
    margin: 0;
    padding: 0;
    margin-right: 5vw;
    margin-top: 3vh;
}

.especial-de-update{
    width: 100%;
}

.btn-aulas{
    margin-bottom: 2rem;
}

.btn-close-modal{
    margin: 0;
    padding: 0;
}

.bts-assunto-3p{
    width: 20px;
    height: 7rem;
    margin-left: 3px;
    padding-top: 21.5px;
    padding-bottom: 23px;
    padding-left: 16px;
    padding-right: 18px;
    background: transparent;
    border: 1.5px solid gray;
}
.titulo{
    margin: 0;
    margin-top: 2rem;
    padding: 0;
    font-size: 32px;
    color: white;
}

.botao-materia{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: block;
    width: 625px;
    padding: 25px;
    background-color: rgb(35, 35, 35);
    border-color: transparent;
}

.resumidamente{
    margin: 0;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

p{
    font-size: 28px;
    color: white;
}

.link-sair{
    text-decoration: none;
    color: white;
}

.container-anotacao{
    margin-left: 20vw;
}

.edit-anotacao{
    min-width: 2.5vw;
    min-height: 8.5vh;
    max-width: 2.5vw;
    max-height: 8.5vh;
    padding: 5px;
    background-color: rgb(26, 26, 26);
    border: 1.5px solid gray;
    border-left: 0;
}
