.principal {
  width: 95%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 20px;
  margin: 10% auto;
  border-radius: 10px;
}

.cabecalho{
  border-bottom: 10px solid rgb(212, 185, 152);
  height: 6vmax;
}

.cabecalho h2{
  color: rgb(90, 57, 35);
}

.underline{
  background-color: rgb(212, 185, 152);
  width: 100%;
  height: 5%;
}

.cabecalho img {
  position: absolute;
  left: 3.7%;
}

img:hover {
  background-color: rgba(128, 128, 128, 0.493);
}

.cards {
  display: flex;
  max-width: 80vw;
  width: 80vw;
  flex-wrap: wrap;
}

/*Cartão individual*/
.cards section.card {
  background: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 1.5rem;
  margin-left: 2vw;
  margin-top: 5vh;
  height: 70vh;
  width: 24.5vw;
  border: .5px solid rgba(83, 59, 49, 0.46);
  box-shadow: 0px 6px 9px rgba(54, 46, 42, 0.371);
}

/*espaço da capa no cartão*/
section.card .icon {
  position: absolute;
  display: block;
  top: 0%;
  width: 100%;
  height: 70%;
}

section.card img {
  width: 100%;
  height: 100%;
}

/*Espaço do conteudo no cartão*/
section.card .span1 {
  position: absolute;
  font-size: 3vmin;
  top: 70%;
  width: 95%;
  padding: 5%;
}

section.card .span2 {
  position: absolute;
  font-size: 3vmin;
  top: 75%;
  width: 95%;
  padding: 3%;
}

section.card .span3 {
  position: absolute;
  font-size: 3vmin;
  top: 80.5%;
  width: 95%;
  padding: 2% 2% 6% 10%;
}

section.card a {
  /**********TENTAR TROCAR PARA BUTTON*/
  position: absolute;
  background: #2c2c2c;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 2vmin;
  padding: 2% 4%;
  border-radius: 32vmin;
  bottom: 1.5vh;
  height: 10%;
}

.btn {
  align-self: center;
  max-width: 25%;
}

.remove {
  position: absolute;
  background: #2c2c2c;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 2vmin;
  padding: 0.5vmax 1vmax;
  border-radius: 32vmin;
  bottom: 1.5vh;
  right: 0%;
  height: 10%;
  top: 85%;
  max-width: 75%;
  right: 12%;
}