


#divBusca{
    background-color:#ffffff;
    border:solid 2px #c0c3c4;
    border-radius:10px;
    width:300px;
    height:32px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:223px;
  }
  
  #btnBusca{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#989c9c;
  }

  /*#ofertas{
    text-align: center;
   
  }*/

  /*#oferta{
    max-width: 100%;
    margin: 50px auto;
    background-color: #303030;
    padding: 20px;
    border-radius: 9px;
  }*/

  .menuhorizontal{
    margin: 0;
    padding: 0;
    width: auto;
    height: 30px;
    }

    .menuhorizontal ul{
        list-style: none;
        }

    .menuhorizontal li{
            display: inline;
            float: left;
            padding:0px;
            margin: 0;
            width: 80px;
            border-left: #000000 thin solid;
            }

.menuhorizontal a{
  display: block;
  text-decoration: none;
  padding: 6px;
  background-color: #ffffff00;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.menuhorizontal :hover{
   background-color: #979494;
    text-decoration: none;
    color: #141414;
  }

.menuhorizontal li.btnesquerdo{
border: none;}

  
  .h1{
    color:#AB9E92;
  }

  .login{

    max-width: 100px;
    margin: 0px ;
    background-color: #AB9E92;
    border-radius: 50px;
    float: right;
    font-size: large;
    height: 200px;
   
  
    

  }
 
  #btnCadastro{
    align-items: right;

  }
 
  .navbar-brand {
    color: white !important;
  }

.nav-link {
  color: white !important;

}

.body{
  background-color: #000000;
}
#oferta {
  width: 100%;
  height: 100vh;
}

#ofertas img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




#divBusca{
  background-color:#ffffff;
  border:solid 2px #c0c3c4;
  border-radius:10px;
  width:300px;
  height:32px;
}

#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-size:18px;
  border:none;
  height:32px;
  width:223px;
}

#btnBusca{
  border:none;
  float:left;
  height:32px;
  border-radius:0 7px 7px 0;
  width:70px;
  font-weight:bold;
  background:#989c9c;
}

/*#ofertas{
  text-align: center;
 
}*/

/*#oferta{
  max-width: 100%;
  margin: 50px auto;
  background-color: #303030;
  padding: 20px;
  border-radius: 9px;
}*/

.menuhorizontal{
  margin: 0;
  padding: 0;
  width: auto;
  height: 30px;
  }

  .menuhorizontal ul{
      list-style: none;
      }

  .menuhorizontal li{
          display: inline;
          float: left;
          padding:0px;
          margin: 0;
          width: 80px;
          border-left: #000000 thin solid;
          }

.menuhorizontal a{
display: block;
text-decoration: none;
padding: 6px;
background-color: #ffffff00;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bold;
}

.menuhorizontal :hover{
 background-color: #979494;
  text-decoration: none;
  color: #141414;
}

.menuhorizontal li.btnesquerdo{
border: none;}


.h1{
  color:#AB9E92;
}

.login{

  max-width: 100px;
  margin: 0px ;
  background-color: #AB9E92;
  border-radius: 50px;
  float: right;
  font-size: large;
  height: 200px;
 

  

}

#btnCadastro{
  align-items: right;

}

.navbar-brand {
  color: white !important;
}

.nav-link {
color: white !important;

}

.body{
background-color: #000000;
}
#oferta {
width: 100%;
height: 100vh;
}

#ofertas img {
width: 100%;
height: 100%;
object-fit: cover;
}

/*.box-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px;
  background-color: #222424;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}*/

.botao{
  margin-top: 100px;
 margin-right: 20%;
}
.pesquisa{
  margin-top: 100px;
  margin-left: 20%;

}
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}